<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BikeBattle - Gameplay</title>

    <link
        href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans&display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../style/css/normalize.css">
    <link rel="stylesheet" href="../style/css/screen.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.9.0/css/all.css">

    <!-- <link rel="apple-touch-icon" sizes="180x180" href="./img/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../img/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../img/favicon/favicon-16x16.png">
    <link rel="manifest" href="./img/favicon/site.webmanifest"> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"
        integrity="sha256-bQmrZe4yPnQrLTY+1gYylfNMBuGfnT/HKsCGX+9Xuqo=" crossorigin="anonymous"></script>
    <script src="../script/noSleep.js"></script>
    <script src="../script/browserMqtt.js"></script>
    <script src="../script/app.js"></script>
</head>

<body class="js-game">
    <script>
        var user = JSON.parse('{{ userinfo | tojson | safe}}');
    </script>
    <div class="o-container">
        <div class="c-app">
            <div class="o-row-md c-header">
                <div class="c-user-profile" style="background:url('')center center no-repeat;">

                </div>
            </div>
            <div class="c-main">
                <div class="o-section">
                    <div class="o-flex o-flex__justify-content--space-between o-flex__align-items--center">
                        <div class="c-logo-sm">
                            <span class="c-logo__accent">B</span></i><span class="c-logo__alpha"></i>B</span>
                        </div>
                        <h3>
                            <span class="u-color-red">(LIVE)</span> meevolgen
                        </h3>
                        <div class="c-info js-popup-start-button"><i class="fas fa-info"></i></div>
                    </div>
                    <div class="o-row c-live">
                        <i class="c-live-arrow c-live-arrow--left fas fa-arrow-left js-gate-nav-left"></i>
                        <div class="c-live-obstacle js-gates">
                            <div class="c-live-obstacle-bow c-live-obstacle-bow--green c-live-obstacle-bow--selected js-gate"
                                data-gate="0">
                                <div class="c-live-obstacle-bow__counter js-gate-seconds">10 seconden</div>
                                <div class="c-live-obstacle-bow__name">poort 1</div>
                            </div>
                            <div class="c-live-obstacle-bow c-live-obstacle-bow--orange js-gate" data-gate="1">
                                <div class="c-live-obstacle-bow__counter">15 seconden</div>
                                <div class="c-live-obstacle-bow__name">poort 1</div>
                            </div>
                            <div class="c-live-obstacle-bow c-live-obstacle-bow--red js-gate" data-gate="2">
                                <div class="c-live-obstacle-bow__counter">25 seconden</div>
                                <div class="c-live-obstacle-bow__name">poort 1</div>
                            </div>
                        </div>
                        <i
                            class="c-live-arrow c-live-arrow--right fas fa-arrow-right c-live-arrow--selected js-gate-nav-right"></i>
                    </div>
                    <div class="o-row-md c-navigation js-gate-navs">
                        <div class="c-navigation__dot c-navigation__dot--gate c-navigation__dot--selected js-gate-nav"
                            data-gate-nav="0">

                        </div>
                        <div class="c-navigation__dot c-navigation__dot--gate js-gate-nav" data-gate-nav="1">

                        </div>
                        <div class="c-navigation__dot c-navigation__dot--gate js-gate-nav" data-gate-nav="2">

                        </div>
                    </div>
                    <div class="o-row-lg js-app-timer">
                        <h4>
                            <div class="c-breakbar"></div>
                            <span>Duurtijd</span>
                            <div class="c-breakbar"></div>
                        </h4>
                        <div class="o-row-lg c-timer">
                            <i class="fas fa-minus c-timer-edit c-timer-edit--left js-timer-left"></i>
                            <input type="time" value="03:00" class="c-input-timer js-timer" disabled>
                            <i
                                class="fas fa-plus c-timer-edit c-timer-edit--right c-timer-edit--selected js-timer-right"></i>
                        </div>
                        <div class="o-row-sm c-navigation js-timer-navs">
                            <div class="c-navigation__dot js-timer-nav c-navigation__dot--selected">

                            </div>
                            <div class="c-navigation__dot js-timer-nav">

                            </div>
                            <div class="c-navigation__dot js-timer-nav">

                            </div>
                        </div>

                    </div>
                    <div class="o-row-lg js-app-countdown">
                        <h4>
                            <div class="c-breakbar"></div>
                            <span>Aftellen</span>
                            <div class="c-breakbar"></div>
                        </h4>
                        <div class="o-row-lg c-timer">
                            <div></div>
                            <input type="time" class="c-input-timer js-countdown" disabled>
                            <div></div>
                        </div>

                    </div>
                    <div class="o-row-lg c-mode js-app-mode">
                        <h4>
                            <div class="c-breakbar"></div>
                            <span>Mode</span>
                            <div class="c-breakbar"></div>
                        </h4>
                        <div class="o-row-md o-grid o-grid__columns-3 o-grid__column-gap--md">
                            <a href="#" class="c-field c-field-mode c-field--green js-game-mode" data-game-mode="0">
                                Easy
                            </a>
                            <a href="#" class="c-field c-field-mode c-field--orange c-field--selected js-game-mode"
                                data-game-mode="1">
                                Normal
                            </a>
                            <a href="#" class="c-field c-field-mode c-field--red js-game-mode" data-game-mode="2">
                                Hard
                            </a>
                        </div>
                        <div class="o-row-md">
                            <p class="c-mode-note">* In de normal mode zal je binnen de <b class="js-note-mode-green">10
                                    seconden</b> door het
                                poortje moeten rijden om <span class="u-color-green">5 punten</span> te verdienen, <b
                                    class="js-note-mode-orange">20 seconden</b> om <span class="u-color-orange">2
                                    punten</span> te
                                verdienen. Hierna zijn er <span class="u-color-red">geen punten</span> meer te
                                verdienen.</p>
                        </div>
                        <div class="o-row-md">
                            <p>Het spel zal van <b>start</b> gaan wanneer je door het <b>eerste poortje</b> fietst.</p>
                        </div>

                    </div>
                    <div class="o-row-lg js-app-logs">
                        <h4>
                            <div class="c-breakbar"></div>
                            <span>Logs</span>
                            <div class="c-breakbar"></div>
                        </h4>
                        <div class="c-log">
                            <div class="c-log__row c-log__row--head">
                                <div>Score</div>
                                <div>Poort</div>
                                <div>Snelheid</div>
                                <div>Voltooid</div>
                                <div>Tijd over</div>
                            </div>
                            <div class="c-log-list c-log--reverse js-logs">
                                <div class="c-log__row js-log">
                                    <div class="c-log__row--preview">Logboek zal hier worden weergegeven.</div>
                                </div>
                                <!-- <div class="c-log__row c-log__row--green js-log">
                                    <div>+5</div>
                                    <div>Poort 1</div>
                                    <div>10 s</div>
                                    <div>Goed</div>
                                    <div>02:40</div>
                                </div>
                                <div class="c-log__row c-log__row--orange js-log">
                                    <div>+2</div>
                                    <div>Poort 2</div>
                                    <div>15 s</div>
                                    <div>Voldoende</div>
                                    <div>02:20</div>
                                </div>
                                <div class="c-log__row c-log__row--red js-log">
                                    <div>+0</div>
                                    <div>Poort 2</div>
                                    <div>50 s</div>
                                    <div>Matig</div>
                                    <div>02:20</div>
                                </div> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>



            <div class="c-controls js-controls-start">
                <div class="o-grid">
                    <button onclick="location.href='/'" class="js-annuleren c-button">Annuleer</button>
                    <!-- <button class="c-button c-button--primary js-game-start">Start</button> -->
                </div>
            </div>
            <div class="c-controls c-controls--fixed js-controls-end ">
                <div class="o-grid o-grid__columns-2 o-grid__column-gap--md">
                    <button class="c-button js-game-pause">Pauze</button>
                    <button class="c-button c-button--primary js-game-end">Stop</button>
                </div>
            </div>

        </div>

    </div>
    <div class="c-popup js-popup js-popup-start">
        <div class="c-popup-invisibleClose js-popup-close">
        </div>

        <div class="o-container">
            <div class="c-popup-window">
                <h2 class="c-popup-window__title">
                    [ <span class="u-color-green">L</span><span class="u-color-orange">E</span><span
                        class="u-color-red">D</span> ] the battle begin!
                </h2>

                <div class="o-row-md">
                    <p>
                        Het spel werkt als volgt, je start het spel en er licht een willekeurig poortje op. Binnen
                        de
                        <b>3 minuten</b> moet je zoveel mogelijk punten verzamelen door door poortjes te fietsen.
                    </p>
                </div>
                <div class="o-row-sm">
                    <p>
                        Indien nodig kan je de <b>duurtijd</b> en <b>moeilijkheid</b> aanpassen van het spel, voor het
                        spel start.
                    </p>
                </div>
                <div class="o-row-md o-grid o-grid__columns-3 o-grid__column-gap--md">
                    <div class="c-field c-field--green">
                        +5
                    </div>
                    <div class="c-field c-field--orange">
                        +2
                    </div>
                    <div class="c-field c-field--red">
                        +0
                    </div>
                </div>

                <div class="o-row-lg o-grid">
                    <button class="c-button c-button--primary js-popup-close">Sluit popup</button>
                </div>

            </div>

        </div>
    </div>
    <div class="c-popup js-popup js-popup-finish">
        <div class="c-popup-invisibleClose js-popup-close">
        </div>

        <div class="o-container">
            <div class="c-popup-window">
                <h2 class="c-popup-window__title">
                    Spel voltooid! 🏁
                </h2>

                <div class="o-row-md">
                    <h1><span style="font-size:3rem" class="js-game-score">231</span> punten</h1>
                    <p class="js-popup-close">
                        Klik <b>hier</b> om je gamelogs te herbekijken.
                    </p>
                </div>

                <div class="o-row-md o-grid">
                    <button
                        class="c-button c-button--primary c-button--flat js-game-save ">Score opslaan</button>
                </div>
                <div class="o-row-md o-grid o-grid__columns-2 o-grid__column-gap--md">
                    <button onclick="location.href='/'" class="c-button">Sluit</button>
                    <button onclick="location.href='/play'" class="c-button c-button--primary">Opnieuw</button>
                </div>
            </div>
        </div>
    </div>
    <div class="c-popup js-popup js-popup-ingame">

        <div class="o-container">
            <div class="c-popup-window">
                <h2 class="c-popup-window__title">
                    Woops! ❌
                </h2>

                <div class="o-row-md">
                    <p>Er is al een spel bezig, wacht tot de speler klaar voordat je het spel start.</p>

                </div>

                <div class="o-row-md o-grid">
                    <button onclick="location.href='/play'"
                        class="c-button c-button--primary c-button--flat">Refresh</button>
                </div>
            </div>
        </div>
    </div>

    <div class="c-loader js-loader">
        <div class="c-loader__text"></div>
        <div class="c-loader__bar"></div>


    </div>
</body>

</html>